/* .table{
    border-collapse: collapse;
    border:  rgb(0, 0, 0);
    padding: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 920px;
    height: 100px;
    margin-top: -170px;
    margin-left: -100px;

} */
td {
    color: #000;
}
form input{ 
    padding: 5px;
    margin-bottom: 15px;
    color: rgb(10, 10, 10);
    font-size: 20px;
}
