h2{
    text-align: center;
    margin-left: 200px;
    font-size: 100px;
    margin-top: -30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5{
    text-align: center;
    margin-left: 200px;
    font-size: 50px;
}

img{
    /* margin-top: 30px; */
    margin-left: 90px;
}

right_bt{
    color: rgb(173, 173, 173);
}