*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 20px;
}

form{
    background-color: rgb(255, 255, 255);
    outline: 5px;
    position: absolute;
    left: 50%;
    top:48%;
    transform: translate(-50%,-50%);
    padding: 30px 90px;
    width: 300px;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 35px;
}