*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    font-size: 20px;
}
body {
    margin-top: 180px;
    background-color: rgb(255, 255, 255);
    text-align: left;
}

form{
    background-color: rgb(255, 255, 255);
    outline: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 60px 80px;
    width: 300px;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.3);
}

input[type="text"]{
    width: 100%;
    
}
input[name="status"]{
    width: 20px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
}

h5{
    margin-top: 10px;
}
