body {
    margin: 60%;
    padding: 0px;
    height: 60%;
    width: auto;
    
    
}

h2{
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    margin-top: -80px;
    margin-left: 15px;
}

table{
    border-collapse: collapse;
    border: 0px solid black;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    height: 50%;
    margin-top: -50%;
    margin-left: 35%;

}

.button{
    margin-left: 20%;
    margin-top: -36px;
}