* {
    margin: 0;
    padding: 0;
}

.judul h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
}
.judul hr {
    margin-top: 10px;
}

.tabel table {
    margin-left: 500px;
    float: right;
}

table {
    border-collapse: collapse;
    
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th {
    background-color: #4CAF50;
    color: white;
}

form a{
    max-width: 600px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 5px;
}

.countainer {
    padding-left: 30px;
    margin-right: -15px;
}