            /*untuk layar device berukuran kecil*/

            @media screen and (min-width: 450px) {
                .light_blue,
                .green {
                    width: 50%
                }
            }
            
            
            /*untuk layar device berukuran sedang*/
            
            @media screen and (min-width: 550px) {
                .red {
                    width: 33%;
                }
                .orange {
                    width: 67%;
                }
            }
            
            
            /*untuk layar device berukuran besar*/
            
            @media screen and (min-width: 800px) {
                .container {
                    width: 800px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            
            
                    .logo{
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-top: -5px;
            
                    }
            
                    .nama-1{
                        color: rgba(0, 0, 0, 1);
                position: absolute;
                left: 35px;
                top: 8px;
                font-family: Bebas Neue;
                text-align: center;
                font-size: 25px;
                letter-spacing: 0;
                    }
            
                    .nama-2{
                        color: rgba(0, 0, 0, 1);
                position: absolute;
                left: 35px;
                top: 33px;
                font-family: Kanit;
                text-align: center;
                font-size: 15px;
                letter-spacing: 0;
                    }

                    .container {
                        width: 100%
                    }
                    
                    pre {
                        border: 0;
                        border-radius: 0;
                        background-color: #333;
                        margin: 0;
                        line-height: 100%;
                        color: whitesmoke;
                    }
                    
                    button {
                        outline: none !important;
                    }
                    
                    .table-bordered {
                        color: #777;
                        cursor: default;
                    }
                    
                    .table-bordered a:hover {
                        text-decoration: none;
                    }
                    
                    .table-bordered th a {
                        float: right;
                        line-height: 3.49;
                    }
                    
                    .table-bordered td a {
                        float: left;
                    }
                    
                    .table-bordered th img {
                        float: left;
                    }
                    
                    .table-bordered th, .table-bordered td {
                        vertical-align: middle !important;
                    }
                    
                    .scanner-laser {
                        position: absolute;
                        margin: 40px;
                        height: 30px;
                        width: 30px;
                        opacity: 0.5;
                    }
                    
                    .laser-leftTop {
                        top: 0;
                        left: 0;
                        border-top: solid red 5px;
                        border-left: solid red 5px;
                    }
                    
                    .laser-leftBottom {
                        bottom: 0;
                        left: 0;
                        border-bottom: solid red 5px;
                        border-left: solid red 5px;
                    }
                    
                    .laser-rightTop {
                        top: 0;
                        right: 0;
                        border-top: solid red 5px;
                        border-right: solid red 5px;
                    }
                    
                    .laser-rightBottom {
                        bottom: 0;
                        right: 0;
                        border-bottom: solid red 5px;
                        border-right: solid red 5px;
                    }
                    
                    #webcodecam-canvas {
                        background-color: #272822;
                    }
                    #scanned-QR{
                        word-break: break-word;
                    }
            
                    .scanner-laser{
                        position: absolute;
                        margin: 40px;
                        height: 30px;
                        width: 30px;
                    }
            
            .ocean { 
              height: 5%;
              width:100%;
              position:absolute;
              bottom:0;
              left:0;
              background: #015871;
            }
            
            .wave {
              background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
              position: absolute;
              top: -190px;
              width: 6400px;
              height: 198px;
              animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
              transform: translate3d(0, 0, 0);
            }
            
            .wave:nth-of-type(2) {
              top: -175px;
              animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
              opacity: 1;
            }
            
            @keyframes wave {
                0% {
                  margin-left: 0;
                }
                100% {
                  margin-left: -1600px;
                }
              }
              
              @keyframes swell {
                0%, 100% {
                  transform: translate3d(0,-25px,0);
                }
                50% {
                  transform: translate3d(0,5px,0);
                }
              }

              