.home__judul {
    position: absolute;
width: 399px;
height: 64px;
left: 75px;
top: -10px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 10px;

color: #000000;

}

.home__alamat {
    position: absolute;
width: 399px;
height: 64px;
left: 75px;
top: 16px;

font-family: 'Times New Roman', Times, serif;
font-style: normal;
font-weight: normal;
font-size: 13px;

color: #000000;

}

.home__tlp {
    position: absolute;
    width: 399px;
    height: 64px;
    left: 75px;
    top: 29px;

    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;

    color: #000000;

}

.home_invoice{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: 80px;
}

c

.home_garis{
    margin-top: 115px;
}

.bagian2 {
    margin-top: -13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

color: #000000;

}

.tabel1{
    /* 17.47.53 */
    border: 5px solid rgb(255, 255, 255);
-webkit-background-clip: padding-box; /* for Safari */
background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    margin-bottom: 10px;
    border-collapse: collapse;
    font-size: small;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 13px;
    font-style: normal;
    width: 990px;
}

.bagian2 {
    margin-top: -10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

color: #000000;

}

.tabel4 {
    font-size: x-small;
    margin-bottom: -20px;
    margin-top: 250px;
    font-style: normal;
}


.tabel5 {
    border-collapse: collapse;
    font-size: 13px;
    font-style: normal;
    font-family: consolas;
    margin-top: 50px;
}

.bawah{
    margin-top: 80px;
    margin-left: 750px;
    width: 60px;
    height: 60px;
}

.test {
    margin-top: 200px;
    margin-left: 300px;
    width: 60px;
    height: 60px;
}

.tgl {
    margin-top: px;
    margin-left: 400px;
    width: 60px;
    height: 60px;
}

.atas{
    margin-top: 20px;
}

.nama{
    margin-top: -20px;
    margin-bottom:20px;
    font-size: 12px;
}
.ttd{
    margin-top: 80px;
    font-size: 12px;
}

.inap{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        margin-top: 80px;
    
        color: #000000;
    
}

p.ttd-pasien {
    font-size: 14px;
} 

.tandatangan{
    margin-top: -190px;
    font-size: smaller;
    font-weight: 595px;
}

.tabel4 {
    font-size: x-small;
    margin-bottom: -20px;
    margin-top: -25px;
}

.tabel5 {
    border-collapse: collapse;
    font-size: 13px;
    font-style: normal;
    font-family: consolas;
}

 .tindakan {
    font-style: italic;
    font-family: sans-serif;
}

.container{
    margin-bottom: 60px;
}

.tabel9 {
    border-collapse: collapse;
    font-size: 12px;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 555px;
}

.tabel8 {
    font-size: 13px;
}

.tabel6 {
    font-size: 12px;
    margin-top: 60px;
}

.rincian {
    margin-bottom: 10px;
    font-size: 15px;
    margin-right: 50px;
}

.tabel0 {
    border-collapse: collapse;
    font-size: 12px;
    margin-left: 380px;
}

.sistem {
    margin-left: 750px;
    font-size: 11px;
    margin-top: 10px;
}