h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(86, 86, 248);
}

h1{
    font-family: 'Times New Roman';
    font-size: 40px;
    margin-top: -10px;
    color: rgb(86, 86, 248);
}

h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    margin-top: -30px;
    color: rgb(86, 86, 248);
}

h5{
    margin-top: -20px;
    color: rgb(86, 86, 248);
}

img{
    float: left;
    width: 125px;
    height: 125px;
}

